<div>
    <p>Username: <%= @user.username %></p>
    
    <p>Concentration: <%= @user.concentration %></p>    
</div>

<% if @user == current_user %>
<div>
<p> Need edit button <%= link_to "edit user", edit_user_path(@user) %> </p>
</div>
<% end %>
